# Ignore all files.
/*
/.*

# Set considered files.
!/.gitignore
!/.gitattributes
!/README.org

!/.bash_aliases
!/.bash_colour.example
!/.bash_profile
!/.bashrc

!/bin
!/.emacs.d/
!/.fonts/
!/.inputrc
!/.skk

!/.vimrc
!/.vim
!/_vim
!/_vimrc
